<div id="gjs"></div>
<button (click)="getCodeHTMLNow()">get code HTML</button>
<button (click)="getCodeCSSNow()">get code CSS</button>


<h5>lkdsjf sdlksd jflksd jf</h5>
<h3>klsdfj sdlk f</h3>
<p>dskjhfkjsdfhkj</p>
fdgdf

<p>Add book title</p>
<p>Add book author</p>
<p>Add book price</p>
<h3>k ákjdlksaj</h3>
<h2>klds ksd flksdj f</h2>

<p>add superman</p>
<p>add superman2</p>
<p>add superman3</p>

<p>add marvel</p>
<p>add marvel</p>
<p>add marvel</p>

<p>add marvel2</p>
<p>add marvel2</p>
<p>add marvel2</p>
